@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}

@include keyframes(vex-flyin) {
  0%    {opacity: 0; transform: scale(0.7);  -webkit-transform: scale(0.7);  }
  45%   {opacity: 1; transform: scale(1.05); -webkit-transform: scale(1.05); }
  80%   {opacity: 1; transform: scale(0.95); -webkit-tranform: scale(0.95);  }
  100%  {opacity: 1; transform: scale(1);    -webkit-transform: scale(1);    }
}
@include keyframes(vex-flyout) {
  0%    {opacity: 1; transform: scale(1);    -webkit-transform: scale(1);    }
  100%  {opacity: 0; transform: scale(0.5);  -webkit-transform: scale(0.5);  }
}



@keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-webkit-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-moz-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-ms-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-o-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}



/*
 * Animations
 */

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}


// Modal animation

@include keyframes(showSweetAlert) {
  0%    { transform: scale(0.7);  -webkit-transform: scale(0.7);  }
  45%   { transform: scale(1.05); -webkit-transform: scale(1.05); }
  80%   { transform: scale(0.95); -webkit-tranform: scale(0.95);  }
  100%  { transform: scale(1);    -webkit-transform: scale(1);    }
}
@include keyframes(hideSweetAlert) {
  0%    { transform: scale(1);    -webkit-transform: scale(1);    }
  100%  { transform: scale(0.5);  -webkit-transform: scale(0.5);  }
}

.showSweetAlert {
  @include animation('showSweetAlert 0.3s');
}
.hideSweetAlert {
  @include animation('hideSweetAlert 0.2s');
}



// Success icon animation

@include keyframes(animateSuccessTip) {
  0%    { width: 0;     left: 1px;    top: 19px; }
  54%   { width: 0;     left: 1px;    top: 19px; }
  70%   { width: 50px;  left: -8px;   top: 37px; }
  84%   { width: 17px;  left: 21px;   top: 48px; }
  100%  { width: 25px;  left: 14px;   top: 45px; }
}
@include keyframes(animateSuccessLong) {
  0%    { width: 0;     right: 46px;  top: 54px; }
  65%   { width: 0;     right: 46px;  top: 54px; }
  84%   { width: 55px;  right: 0px;   top: 35px; }
  100%  { width: 47px;  right: 8px;   top: 38px; }
}
@include keyframes(rotatePlaceholder) {
  0%    { transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);  }
  5%    { transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);    }
  12%   { transform: rotate(-405deg); -webkit-transform: rotate(-405deg); }
  100%  { transform: rotate(-405deg); -webkit-transform: rotate(-405deg); }
}

.animateSuccessTip {
  @include animation('animateSuccessTip 0.75s');
}
.animateSuccessLong {
  @include animation('animateSuccessLong 0.75s');
}
.icon.success.animate::after {
  @include animation('rotatePlaceholder 4.25s ease-in');
}


// Error icon animation
/*
@include keyframes(animateErrorIcon) {
  0%    { transform: rotateX(100deg); -webkit-transform: rotateX(100deg); opacity: 0; }
  100%  { transform: rotateX(0deg);   -webkit-transform: rotateX(0deg);   opacity: 1; }
}
.animateErrorIcon {
  @include animation('animateErrorIcon 0.5s');
}
@include keyframes(animateXMark) {
  0%    { transform: scale(0.7);  -webkit-transform: scale(0.7);  margin-top: 26px; opacity: 0; }
  50%   { transform: scale(0.7);  -webkit-transform: scale(0.7);  margin-top: 26px; opacity: 0; }
  80%   { transform: scale(1.75); -webkit-transform: scale(1.75); margin-top: -6px;             }
  100%  { transform: scale(1);    -webkit-transform: scale(1);    margin-top: 0;    opacity: 1; }
}
.animateXMark {
  @include animation('animateXMark 0.5s');
}
*/
@include keyframes(pulseWarning) {
  0%    { border-color: #F8D486; }
  100%  { border-color: #F8BB86; }
}
.pulseWarning {
  @include animation('pulseWarning 0.75s infinite alternate');
}

@include keyframes(pulseWarningIns) {
  0%    { background-color: #F8D486; }
  100%  { background-color: #F8BB86; }
}
.pulseWarningIns {
  @include animation('pulseWarningIns 0.75s infinite alternate');
}