//FONT URL
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

$font-family: Lato, sans-serif;

//COLORS
$color-invalid: #f26c4f;
$color-red: #ed1c24;
$color-green: #8bbe01;
$highlight-color: #009eff;
$backgroundColor:#f0f0f0;