@keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-moz-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-ms-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-o-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-webkit-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-moz-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-ms-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-o-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-webkit-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-moz-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-ms-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-o-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

/* line 13, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables {
  padding-top: 160px;
  padding-bottom: 160px;
}
/* line 17, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables.vex-closing .vex-content {
  animation: vex-flyout 0.5s;
  -webkit-animation: vex-flyout 0.5s;
  -moz-animation: vex-flyout 0.5s;
  -ms-animation: vex-flyout 0.5s;
  -o-animation: vex-flyout 0.5s;
  -webkit-backface-visibility: hidden;
}
/* line 20, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-content {
  animation: vex-flyin 0.5s;
  -webkit-animation: vex-flyin 0.5s;
  -moz-animation: vex-flyin 0.5s;
  -ms-animation: vex-flyin 0.5s;
  -o-animation: vex-flyin 0.5s;
  -webkit-backface-visibility: hidden;
}
/* line 23, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
  background: #f0f0f0;
  color: #444444;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 450px;
  font-size: 1.7em;
  line-height: 1.5em;
}
/* line 36, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-content h1, .vex.vex-theme-besttables .vex-content h2, .vex.vex-theme-besttables .vex-content h3, .vex.vex-theme-besttables .vex-content h4, .vex.vex-theme-besttables .vex-content h5, .vex.vex-theme-besttables .vex-content h6, .vex.vex-theme-besttables .vex-content p, .vex.vex-theme-besttables .vex-content ul, .vex.vex-theme-besttables .vex-content li {
  color: inherit;
}
/* line 39, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-close {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 46, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-close:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbbbbb;
  background: transparent;
}
/* line 61, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-close:hover:before, .vex.vex-theme-besttables .vex-close:active:before {
  color: #777777;
  background: #e0e0e0;
}
/* line 67, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-message {
  margin-bottom: 0.5em;
}
/* line 70, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em;
}
/* line 73, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  width: 100%;
  padding: 0.25em 0.67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 0.25em;
}
/* line 85, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  -moz-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}
/* line 89, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.72.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 92, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 0.5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0.75em 2em;
}
/* line 104, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button.vex-last {
  margin-left: 0;
}
/* line 107, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button:focus {
  animation: vex-pulse 1.7s infinite;
  -webkit-animation: vex-pulse 1.7s infinite;
  -moz-animation: vex-pulse 1.7s infinite;
  -ms-animation: vex-pulse 1.7s infinite;
  -o-animation: vex-pulse 1.7s infinite;
  -webkit-backface-visibility: hidden;
  outline: none;
}
@media (max-width: 568px) {
  /* line 107, ../sass/vex-theme-besttables.sass */
  .vex.vex-theme-besttables .vex-dialog-button:focus {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    -webkit-backface-visibility: hidden;
  }
}
/* line 116, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button.vex-dialog-button-primary {
  background: #3288e6;
  color: white;
}
/* line 120, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button.vex-dialog-button-secondary {
  background: #e0e0e0;
  color: #777777;
}

/* line 124, ../sass/vex-theme-besttables.sass */
.vex-loading-spinner.vex-theme-besttables {
  -webkit-box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #f0f0f0;
  border: 0.2em solid transparent;
  border-top-color: #bbbbbb;
  top: -1.7em;
  bottom: auto;
}
