@import 'variables';
@import 'animation-keyframes';

/* line 13, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables {
  padding-top: 160px;
  padding-bottom: 160px;
}
/* line 17, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables.vex-closing .vex-content {
  /*
  animation: vex-flyout 0.5s ;
  -webkit-animation: vex-flyout 0.5s;
  -moz-animation: vex-flyout 0.5s;
  -ms-animation: vex-flyout 0.5s;
  -o-animation: vex-flyout 0.5s;
  -webkit-backface-visibility: hidden;
  */
  @include animation('vex-flyout 0.2s');
  -webkit-backface-visibility: hidden;
}

/* line 20, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-content {
  /*
  animation: vex-flyin 0.5s;// cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation: vex-flyin 0.5s// cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -moz-animation: vex-flyin 0.5s;
  -ms-animation: vex-flyin 0.5s;
  -o-animation: vex-flyin 0.5s;
  -webkit-backface-visibility: hidden;
  */
  @include animation('vex-flyin 0.3s');
  -webkit-backface-visibility: hidden;
}
/* line 23, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: $font-family;
  background: #f0f0f0;
  color: #444444;
  padding: 1.5em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 450px;
  font-size: 1.1em;
  line-height: 1.5em;
}
/* line 36, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-content h1, .vex.vex-theme-besttables .vex-content h2, .vex.vex-theme-besttables .vex-content h3, .vex.vex-theme-besttables .vex-content h4, .vex.vex-theme-besttables .vex-content h5, .vex.vex-theme-besttables .vex-content h6, .vex.vex-theme-besttables .vex-content p, .vex.vex-theme-besttables .vex-content ul, .vex.vex-theme-besttables .vex-content li {
  color: inherit;
}
/* line 39, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-close {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 46, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-close:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbbbbb;
  background: transparent;
}
/* line 61, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-close:hover:before, .vex.vex-theme-besttables .vex-close:active:before {
  color: #777777;
  background: $backgroundColor;
}
/* line 67, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-message {
  margin-bottom: 0.5em;
}
/* line 70, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em;
}
/* line 73, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  width: 100%;
  padding: 0.25em 0.67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 0.25em;
}
/* line 85, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-besttables .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  -moz-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}
/* line 89, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.vex.vex-theme-besttables .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 92, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 0.5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  line-height: 1em;
  padding: 1.2em 2em;
}
/* line 104, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button.vex-last {
  margin-left: 0;
}
/* line 107, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button:focus {
  animation: vex-pulse 1.1s infinite;
  -webkit-animation: vex-pulse 1.1s infinite;
  -moz-animation: vex-pulse 1.1s infinite;
  -ms-animation: vex-pulse 1.1s infinite;
  -o-animation: vex-pulse 1.1s infinite;
  -webkit-backface-visibility: hidden;
  outline: none;
}
@media (max-width: 568px) {
  /* line 107, ../sass/vex-theme-besttables.sass */
  .vex.vex-theme-besttables .vex-dialog-button:focus {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    -webkit-backface-visibility: hidden;
  }
}
/* line 116, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button.vex-dialog-button-primary {
  background:$color-green;
  color: white;
  &:hover{
    background:darken($color-green,5%);
  }
}
/* line 120, ../sass/vex-theme-besttables.sass */
.vex.vex-theme-besttables .vex-dialog-button.vex-dialog-button-secondary {
  background: #e0e0e0;
  color: #777777;
}

/* line 124, ../sass/vex-theme-besttables.sass */
.vex-loading-spinner.vex-theme-besttables {
  -webkit-box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #f0f0f0;
  border: 0.2em solid transparent;
  border-top-color: #bbbbbb;
  top: -1.1em;
  bottom: auto;
}
///NEW
.vex{
  .hide{
    display: none;
  }
  .vex-content{
    &.center{
      .vex-dialog-message,.vex-dialog-buttons{
        text-align: center;
      }
      .vex-dialog-button-primary,.vex-dialog-button ,.vex-first ,.vex-last{
        float: none;
      }
    }
  }
  .icon {
    $red:     #F27474;
    $orange:  #F8BB86;
    $blue:    #C9DAE1;
    $green:   #A5DC86;

    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 10px auto 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;

    &.error {
      border-color: $red;

      .x-mark {
        position: relative;
        display: block;
      }

      .line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: $red;
        display: block;
        top: 37px;
        border-radius: 2px;

        &.left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px;
        }
        &.right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px;
        }
      }
    }
    &.warning {
      border-color: $orange;

      .body { // Exclamation mark body
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: $orange;
      }
      .dot { // Exclamation mark dot
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: $orange;
      }
    }
    &.info {
      border-color: $blue;

      &::before { // i-letter body
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: $blue;
      }
      &::after { // i-letter dot
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: $blue;
      }
    }
    &.success {
      border-color: $green;

      &::before, &::after { // Emulate moving circular line
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: $backgroundColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;

         -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px;
      }
      &::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;

        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px;
      }

      .placeholder { // Ring
        width: 80px;
        height: 80px;
        //border: 4px solid rgba($green, 0.2);
        border: 4px solid rgba($green, 1);
        border-radius: 50%;
        box-sizing: content-box;

        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2;
      }

      .fix {  // Hide corners left from animation
        width: 5px;
        height: 90px;
        background-color: $backgroundColor;

        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;

        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .line {
        height: 5px;
        background-color: $green;
        display: block;
        border-radius: 2px;

        position: absolute;
        z-index: 2;

        &.tip {
          width: 25px;

          left: 14px;
          top: 46px;

          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &.long {
          width: 47px;

          right: 8px;
          top: 38px;

          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
    &.custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .error{
    .icon{
      &.error{
        display: block !important;
      }
    }
  }
  .warning{
    .icon{
      &.warning{
        display: block !important;
      }
    }
  }
  .success{
    .icon{
      &.success{
        display: block !important;
      }
    }
  }
}

